/* #region RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* #endregion RESET */

/* #region DEBUG */
.debug {
    border: 2px dashed red;
}
/* #endregion DEBUG */

/* #region GENERAL */
body{
    font-family: sans-serif;
}
header {
    background-color: black;
    height: 50px;
    width: 100vw;
    color: white;
}
main {
    background-color: black;
    height: calc(100vh - 160px);
    overflow-y: auto;
}
footer {
    background-color: #222222;
    height: 100px;
}
/* #endregion GENERAL */

/* #region HEADER */
.container {    
    position: relative;
}
.commands {
    position: absolute;
    right: 0;
    margin: 15px;
}
.view, .fullscreen {
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
}
/* #endregion HEADER */

/* #region MAIN */
img {
    width: 250px;
    height: 200px;
    padding-bottom: 20px;
}
main div {
    margin: 0 auto;
    padding: 30px 100px;
}
/* #endregion MAIN */
