
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug {
    border: 2px dashed red;
}

header {
    background-color: black;
    height: 30px;
    width: 100vw;
    color: white;
}
.container {    
    position: relative;
    padding: 10px;
}
.commands {
    position: absolute;
    right: 0;
}
.view, .fullscreen {
    background-color: #4a4a4a;
    padding: 5px;
    border-radius: 5px;
}

main {
    background-color: black;
    height: calc(100vh - 160px);
    overflow-y: auto;
}
img {
    width: 250px;
    height: 200px;
    padding-bottom: 20px;
}
main div {
    margin: 0 auto;
    padding: 30px 100px;
}
footer {
    background-color: #222222;
    height: 100px;
}